@charset 'UTF-8';
@use "sass:math"; //計算関数
@use "../../global" as *;

/*
  Food
*/
.l-food {
  &__wrapper {
    position: relative;
    margin-top: -28px;

    @include mq(sm) {
      margin-top: -58px;
    }
    @include mq(md) {
      margin-top: -40px;
    }
  }
  &__cover {
    position: absolute;
    background-color: $base-color;
    width: 110%;
    height: 68px;
    top: 0;
    @include mq(md) {
      height: 70px;
    }
  }
}
iframe {
  width: 100%;
}

