@charset 'UTF-8';
@use "sass:math"; //計算関数
@use "../../global" as *;

/*
  Footer
*/
.p-footer {
  &__title {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    $font-size: 24px;
    font-size: pxToRem($font-size);
    padding-top: pxToRem(100px);
    padding-bottom: pxToRem(60px);
    text-align: center;
    @include mq(md) {
      $font-size: 54px;
      font-size: pxToRem($font-size);
      font-weight: 600;
    }
  }
  &__copy {
    text-align: center;
    $font-size: 18px;
    font-size: pxToRem($font-size);
    padding-top: pxToRem(32px);
    padding-bottom: pxToRem(32px);
  }
}
