@charset 'UTF-8';
@use "sass:math"; //計算関数
@use "../../global" as *;
/*
  Global Nav
*/
$position: right; // right or left

// position
$translate: 110%;
$shadow-position: -1px;
$left: auto;
$right: 0;
@if $position == left {
  $translate: -110%;
  $shadow-position: 2px;
  $left: 0;
  $right: auto;
}

.drawer {
  position: fixed;
  top: 28px;
  right: 28px;
  width: 152px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  color: #212121;
  padding-top: pxToRem(18px);
  padding-bottom: pxToRem(24px);
  z-index: 10;
  border-radius: 0 0 16px 16px;
  transform: translateY(-140%);
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;

  @include mq(md) {
    transform: translateY(0);
    top: 0;
  }
}

.drawer ul {
  padding: 3rem 0;
  list-style: none;
}

.drawer a {
  display: block;
  $font-size: 14px;
  font-size: pxToRem($font-size);
  padding: pxToRem(12px) pxToRem(12px);
  text-transform: uppercase;
  color: #191919;
  text-decoration: none;
}

.drawer a:hover {
  color: #707070;
}
.is-drawerActive .drawer {
  transform: translateY(0);
}
