@charset 'UTF-8';
@use "sass:math"; //計算関数
@use "../../global" as *;

/*
  Local | 各都市紹介
*/
.p-local {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: pxToRem(40px);
  @include mq(lg) {
    margin-bottom: pxToRem(0px);
  }

  &__body {
    width: 100%;
    @include mq(lg) {
      width: calc(432px / 960px) * 100%;
    }
  }
  &__title {
    $font-size: 24px;
    font-size: pxToRem($font-size);
    padding-bottom: pxToRem(24px);
    @include mq(lg) {
      padding-bottom: pxToRem(40px);
    }
  }
  &__txt {
    line-height: 1.75;
    padding-bottom: pxToRem(24px);
    @include mq(lg) {
      padding-bottom: pxToRem(0px);
    }
  }
  &__img {
    width: 100%;
    padding-top: pxToRem(32px);
    @include mq(lg) {
      width: 50%;
      padding-top: 0;
    }
  }
  &__imginnner {
    width: 80%;
    margin: 0 auto;
    @include mq(lg) {
      width: unset;
      margin-left: 0;
      margin-right: calc(100% - 42vw);
    }
  }

  &__img img {
    width: 100%;
    height: auto;
  }
}
