@charset 'UTF-8';
@use "sass:math"; //計算関数
@use "../../global" as *;
/*
  Swiper
*/
.swiper-container {
  // max-width: 900px;
  overflow: hidden;
}
.swiper_txt {
  margin-top: pxToRem(16px);
}

.c-img.-nth {
  padding-top: 50px;
  @include mq(md) {
    padding-top: 100px;
  }
}
