@charset 'UTF-8';
@use "sass:math"; //計算関数
@use "../../global" as *;

/*
  3.2  - Utilty
----------------------------------------------------- */

/*
  Screen Reader Text
*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
